doctype html
html
    head
        title The Group purchase app
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    body
        .modal-dialog
            .modal-content
                .modal-body
                    div.purchase
                        h3 Group Purchase
                        p
                        table.ui.celled.table.center.aligned
                            tbody
                                tr
                                    td
                                        button.btn.btn-primary(onclick="window.location.href='/new'") New Group Purchase
                                    td
                                        button.btn.btn-primary(onclick="window.location.href='/users'") Users




