doctype html
html
    head
        title The Group purchase app
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    body
           .modal-dialog
               .modal-content
                 .modal-body
                   form(ref="uploadForm" id="uploadForm" role="form" method="POST" action="/upload" enctype="multipart/form-data")
                     div.form-group
                       label(for="user") User:
                       input#name.form-control(type="text", placeholder="user", name="user", required, value="ToF")
                     div.form-group
                       label(for="date") Date:
                       input#name.form-control(type="date", name="date", required, value="07/05/2022")
                     div.form-group
                        label(for="date") Shipping fee:
                        input#shippingFee.form-control(type="number", min="0", step="0.01", name="shippingFee", required, value="42.17")
                     div.form-group
                        label(for="date") Filename:
                        input#shippingFee.form-control(type="file", name="purchaseFile", required)
                     button.btn.btn-primary(type="submit", name="filename") New
