doctype html
html
    head
        title The Group purchase app
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    body
        .modal-dialog
            .modal-content
                .modal-body
                    div.purchase
                        h3 Users
                        form(ref="newUserForm" id="uploadForm" role="form" method="POST" action="/newUser" enctype="multipart/form-data")
                            div.form-group
                                label(for="user") User:
                                input#name.form-control(type="text", placeholder="user", name="user", required )
                            div.form-group
                                label(for="date") Date of Birth:
                                input#date.form-control(type="date", name="date", required)
                            button.btn.btn-primary(type="submit", name="new-user") Confirm
                            button.btn.btn-primary(onclick="window.location.href='/'") Cancel

                        table.ui.celled.table.center.aligned
                                                tbody
                                                    tr
                                                        th Name
                                                        th Date
                                                    each user in users
                                                        tr
                                                            td #{ user.name }
                                                            td #{ (user.birthDate).toLocaleDateString("fr") }
