doctype html
html
    head
        title The Group purchase app
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    body
        .modal-dialog
            .modal-content
                .modal-body
                    div.purchase
                        h3 Users
                        table.ui.celled.table.center.aligned
                            tbody
                                tr
                                    th Name
                                    th Date
                                each user in users
                                    tr
                                        td #{ user.name }
                                        td #{ (user.birthDate).toLocaleDateString("fr") }
